.bg-gray {
    background-color: #e5e3e3;
}

nav ul {
    list-style: none;
}



.dropdown button {
    border: 0 !important;
}

.dropdown ul {
    background-color: #121212;
}

.dropdown ul li a {
    color: white;
}

.dropdown ul li a:hover {
    background-color: rgba(0, 0, 0, 0.878);
}

.dropdown button:focus {
    font-weight: bold;
}

.mat-drawer-container {
    position: absolute;
    top: 0;
    height: 100%;
}

.dropdown button {
    padding: 0 !important;
}