<nav class="bg-gray" *ngIf="!isMobile">
  <div class="w-90 mx-auto py-2">
    <ul class="m-0 d-flex justify-content-between w-75">
      <li class="align-content-center">
        <a class="text-black upper-case" routerLink="/home"><i class="fa-solid fa-house fs-13"></i></a>
      </li>
      <li>
        <div class="dropdown">
          <button class="btn dropdown-toggle upper-case fs-13" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            EXHIBIT
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item cursor-pointer" (click)="scrollToId('why_exhibit');">Why Egypt</a></li>
            <li><a class="dropdown-item cursor-pointer" (click)="scrollToId('exhibitors-list-2025')">2025 Partners</a></li>
            <li><a class="dropdown-item cursor-pointer" (click)="scrollToId('exhibitors-list-2024')">Previous Partners</a></li>
            <li><a class="dropdown-item cursor-pointer" routerLink="/forms/exhibitor">Registration</a></li>
          </ul>
        </div>
      </li>
      <li>
        <div class="dropdown">
          <button class="btn dropdown-toggle upper-case fs-13" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            VISIT
          </button>
          <ul class="dropdown-menu">
            <!-- <li><a class="dropdown-item" href="#">Why Egypt</a></li> -->
            <li><a class="dropdown-item" routerLink="/forms/visitor/registration">Registration</a></li>
          </ul>
        </div>
      </li>

      <li class="align-content-center">
        <a class="cursor-pointer dropdown-item upper-case fs-13" (click)="scrollToId('exhibitors-list-2025')">2025 Partners</a>
      </li>

      <li>
        <div class="dropdown">
          <button class="btn dropdown-toggle upper-case fs-13" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            SPEAKERS
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/forms/speaker">Registration</a></li>
            <li><a class="dropdown-item cursor-pointer" (click)="scrollToId('speakers-list')">Speakers List</a></li>
          </ul>
        </div>
      </li>

      <li>
        <div class="dropdown">
          <button class="btn dropdown-toggle upper-case fs-13" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Features
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item cursor-pointer" (click)="scrollToId('conference')">CONFERENCE</a></li>
            <li><a class="dropdown-item cursor-pointer" (click)="scrollToId('why_exhibit')">EXHIBITION</a></li>
            <li><a class="dropdown-item cursor-pointer" (click)="scrollToId('workshop')">WORKSHOP</a></li>
            <li><a class="dropdown-item cursor-pointer" (click)="scrollToId('speakers-list')">SPEAKERS</a></li>
          </ul>
        </div>
      </li>

      <li class="align-content-center">
        <a class="cursor-pointer dropdown-item upper-case fs-13" (click)="scrollToId('gallery')">Gallery</a>
      </li>
    </ul>
  </div>
</nav>