<div class="p-3">
    <div class="d-flex justify-content-between">
        <p class="h2">Exhibitors</p>
        <div class="align-content-center">
            <button (click)="openModal(newExhibitorContent)" class="px-2 py-1">Add New Exhibitor</button>
        </div>
    </div>

    <!-- Content -->
    <div>
        <!-- Loading -->
        <div class="d-flex justify-content-center" *ngIf="isLoading">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <!-- Error -->
        <div class="text-center text-danger fs-small" *ngIf="isError">
            We encountered an issue while fetching the requested data. Please try again later. If the issue persists,
            contact support.
        </div>

        <!-- Content -->
        <div *ngIf="!isError && !isLoading">
            <div>
                <div class="w-50">
                    <label for="">
                        Filter by status:
                    </label>
                    <ng-select name="status" [(ngModel)]="FilterStatus" (change)="onChangeFilter()">
                        <ng-option *ngFor="let status of statusList" [value]="status">
                            {{status}}
                        </ng-option>
                    </ng-select>
                </div>

                <div *ngIf="listOfExhibitors.length == 0">
                    <p class="text-secondary text-center fs-small py-3">Currently, there is no information to show.</p>
                </div>
            </div>

            <div class="card p-2 my-2" *ngFor="let exhibitor of listOfExhibitors" [ngClass]="{'bg-pending': exhibitor.status == 'Pending' , 'bg-rejected' : exhibitor.status == 'Rejected'
                ,'bg-confirmed' : exhibitor.status == 'Confirmed'}">
                <div class="row">
                    <div class="col-md-6 col-sm-12" *ngIf="exhibitor.company_name">
                        <p><span class="fw-bold">Company Name:</span> {{exhibitor.company_name}}</p>
                    </div>

                    <div class="col-md-6 col-sm-12" *ngIf="exhibitor.email">
                        <p><span class="fw-bold">Email:</span> {{exhibitor.email}}</p>
                    </div>

                    <div class="col-md-6 col-sm-12" *ngIf="exhibitor.fullname">
                        <p><span class="fw-bold">Name:</span> {{exhibitor.fullname}}</p>
                    </div>

                    <div class="col-md-6 col-sm-12" *ngIf="exhibitor.mobile_no">
                        <p><span class="fw-bold">Mobile:</span> {{exhibitor.mobile_no}}</p>
                    </div>

                    <div class="col-md-6 col-sm-12" *ngIf="exhibitor.position">
                        <p><span class="fw-bold">Position:</span> {{exhibitor.position}}</p>
                    </div>

                    <div class="col-md-6 col-sm-12" *ngIf="exhibitor.website">
                        <p><span class="fw-bold">Website:</span> {{exhibitor.website}}</p>
                    </div>

                    <div class="col-md-6 col-sm-12" *ngIf="exhibitor.status">
                        <p><span class="fw-bold">Status:</span> {{exhibitor.status}}</p>
                    </div>

                    <div class="col-md-6 col-sm-12" *ngIf="exhibitor.classification">
                        <p><span class="fw-bold">Classification:</span> {{exhibitor.classification}}
                            <i class="fas fa-gem platinum" *ngIf="exhibitor.classification == 'Platinum'"></i>
                            <i class="fas fa-star silver" *ngIf="exhibitor.classification == 'Silver'"></i>
                            <i class="fas fa-crown gold " *ngIf="exhibitor.classification == 'Gold'"></i>
                        </p>
                    </div>

                    <div class="col-12 text-center" *ngIf="exhibitor.logo">
                        <img src="{{apiUrl}}{{exhibitor.logo.slice(1)}}" alt="" style="max-width: 100%;">
                    </div>
                </div>

                <div class="text-center my-2">
                    <button class="btn btn-primary" (click)="openModal(updateContent, exhibitor)">Update</button>
                </div>
            </div>
        </div>

    </div>
</div>

<ng-template #updateContent>
    <div class="p-3 bg-white">
        <!-- <p class="text-center h2">{{selectedExhibitor.fullname}}</p> -->

        <div class="py-2">

            <form #form='ngForm' class="mx-auto card py-2" (ngSubmit)="updateExhibitor()">
                <p class="h2 text-center my-2">Update Exhibitor</p>
                <!--- Email -->
                <div class="bb-gray py-2">
                    <div class="p-3">
                        <label for="email">Email <span class="text-danger">*</span></label>
                        <input id="email" name="email" ngModel #email='ngModel' type="email" class="form-control"
                            required [(ngModel)]="selectedExhibitor.email">

                        <div class="errors" *ngIf="email.touched && email.invalid">
                            <p class="text-center m-0" *ngIf="email.errors?.['required']">* Please enter email *</p>
                        </div>
                    </div>
                </div>

                <!-- fullname -->
                <div class="bb-gray py-2">
                    <div class="p-3">
                        <label for="fullname">Full Name <span class="text-danger">*</span> </label>
                        <input id="fullname" name="fullname" ngModel #fullname="ngModel" type="text"
                            class="form-control" required [(ngModel)]="selectedExhibitor.fullname">

                        <div class="errors" *ngIf="fullname.touched && fullname.invalid">
                            <p class="text-center m-0" *ngIf="fullname.errors?.['required']">* Please enter full name *
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Mobile -->
                <div class="bb-gray py-2">
                    <div class="p-3">
                        <label for="mobile_no">Mobile number <span class="text-danger">*</span></label>
                        <input id="mobile_no" name="mobile_no" ngModel #mobile_no="ngModel" type="text"
                            class="form-control" required [(ngModel)]="selectedExhibitor.mobile_no">

                        <div class="errors" *ngIf="mobile_no.touched && mobile_no.invalid">
                            <p class="text-center m-0" *ngIf="mobile_no.errors?.['required']">* Please enter mobile
                                number
                                *
                            </p>
                        </div>
                    </div>
                </div>

                <!--- position -->
                <div class="bb-gray py-2">
                    <div class="p-3">
                        <label for="position">Job position <span class="text-danger">*</span></label>
                        <input id="position" name="position" ngModel #position="ngModel" type="text"
                            class="form-control" required [(ngModel)]="selectedExhibitor.position">

                        <div class="errors" *ngIf="position.touched && position.invalid">
                            <p class="text-center m-0" *ngIf="position.errors?.['required']">* Please enter job
                                position
                                *
                            </p>
                        </div>
                    </div>
                </div>

                <!-- company_name -->
                <div class="bb-gray py-2">
                    <div class="p-3">
                        <label for="company_name">Company Name
                            <span class="text-danger">*</span></label>
                        <input id="company_name" name="company_name" ngModel #company_name="ngModel" type="text"
                            class="form-control" required [(ngModel)]="selectedExhibitor.company_name">

                        <div class="errors" *ngIf="company_name.touched && company_name.invalid">
                            <p class="text-center m-0" *ngIf="company_name.errors?.['required']">* Please enter company
                                name *
                            </p>
                        </div>
                    </div>
                </div>

                <!-- website -->
                <div class="bb-gray py-2">
                    <div class="p-3">
                        <label for="website">Company website</label>
                        <input id="website" name="website" ngModel #website="ngModel" type="text" class="form-control"
                            [(ngModel)]="selectedExhibitor.website">
                    </div>
                </div>

                <!-- classification -->
                <div class="bb-gray py-2">
                    <div class="p-3">
                        <label class="text-secondary" for="classification">Classification: </label>
                        <ng-select name="classification" [(ngModel)]="selectedExhibitor.classification">
                            <ng-option *ngFor="let classification of classificationList" [value]="classification">
                                {{classification}}
                            </ng-option>
                        </ng-select>
                    </div>
                </div>

                <!-- status -->
                <div class="bb-gray py-2">
                    <div class="p-3">
                        <label class="text-secondary" for="status">Status: </label>
                        <ng-select name="status" [(ngModel)]="selectedExhibitor.status">
                            <ng-option *ngFor="let status of statusList" [value]="status">
                                {{status}}
                            </ng-option>
                        </ng-select>
                    </div>
                </div>

                <!-- Logo -->
                <div class="col-12 text-center" *ngIf="selectedExhibitor.logo">
                    <img src="{{apiUrl}}{{selectedExhibitor.logo.slice(1)}}" alt="" style="max-width: 90%;">
                </div>

                <div class="bb-gray py-2">
                    <div class="p-3">
                        <label for="logo">New Logo <span class="text-danger">*</span></label>
                        <input id="logo" name="logo" ngModel #logo="ngModel" type="file" accept="image/*"
                            class="form-control" (change)="uploadImage($event)">
                    </div>
                </div>

                <div class="py-2 text-center">
                    <button class="btn btn-primary" [disabled]="form['invalid']" type="submit">Submit</button>
                </div>

            </form>
        </div>
    </div>
</ng-template>

<ng-template #newExhibitorContent>
    <div class="m-3">
        <form #form='ngForm' class="mx-auto card py-2" (ngSubmit)="addNewExhibitor(form)">
            <p class="h2 text-center my-2">New Exhibitor</p>
            <!--- Email -->
            <div class="bb-gray py-2">
                <div class="p-3">
                    <label for="email">Email <span class="text-danger">*</span></label>
                    <input id="email" name="email" ngModel #email='ngModel' type="email" class="form-control" required>

                    <div class="errors" *ngIf="email.touched && email.invalid">
                        <p class="text-center m-0" *ngIf="email.errors?.['required']">* Please enter email *</p>
                    </div>
                </div>
            </div>

            <!-- fullname -->
            <div class="bb-gray py-2">
                <div class="p-3">
                    <label for="fullname">Full Name <span class="text-danger">*</span> </label>
                    <input id="fullname" name="fullname" ngModel #fullname="ngModel" type="text" class="form-control"
                        required>

                    <div class="errors" *ngIf="fullname.touched && fullname.invalid">
                        <p class="text-center m-0" *ngIf="fullname.errors?.['required']">* Please enter full name *</p>
                    </div>
                </div>
            </div>

            <!-- Mobile -->
            <div class="bb-gray py-2">
                <div class="p-3">
                    <label for="mobile_no">Mobile number <span class="text-danger">*</span></label>
                    <input id="mobile_no" name="mobile_no" ngModel #mobile_no="ngModel" type="text" class="form-control"
                        required>

                    <div class="errors" *ngIf="mobile_no.touched && mobile_no.invalid">
                        <p class="text-center m-0" *ngIf="mobile_no.errors?.['required']">* Please enter mobile
                            number
                            *
                        </p>
                    </div>
                </div>
            </div>

            <!--- position -->
            <div class="bb-gray py-2">
                <div class="p-3">
                    <label for="position">Job position <span class="text-danger">*</span></label>
                    <input id="position" name="position" ngModel #position="ngModel" type="text" class="form-control"
                        required>

                    <div class="errors" *ngIf="position.touched && position.invalid">
                        <p class="text-center m-0" *ngIf="position.errors?.['required']">* Please enter job
                            position
                            *
                        </p>
                    </div>
                </div>
            </div>

            <!-- company_name -->
            <div class="bb-gray py-2">
                <div class="p-3">
                    <label for="company_name">Company Name
                        <span class="text-danger">*</span></label>
                    <input id="company_name" name="company_name" ngModel #company_name="ngModel" type="text"
                        class="form-control" required>

                    <div class="errors" *ngIf="company_name.touched && company_name.invalid">
                        <p class="text-center m-0" *ngIf="company_name.errors?.['required']">* Please enter company
                            name *
                        </p>
                    </div>
                </div>
            </div>

            <!-- website -->
            <div class="bb-gray py-2">
                <div class="p-3">
                    <label for="website">Company website</label>
                    <input id="website" name="website" ngModel #website="ngModel" type="text" class="form-control">
                </div>
            </div>

            <!-- classification -->
            <div class="bb-gray py-2">
                <div class="p-3">
                    <label class="text-secondary" for="classification">Classification: </label>
                    <ng-select name="classification" ngModel #classification="ngModel">
                        <ng-option *ngFor="let classification of classificationList" [value]="classification">
                            {{classification}}
                        </ng-option>
                    </ng-select>
                </div>
            </div>

            <!-- status -->
            <div class="bb-gray py-2">
                <div class="p-3">
                    <label class="text-secondary" for="status">Status: </label>
                    <ng-select name="status" ngModel #status="ngModel">
                        <ng-option *ngFor="let status of statusList" [value]="status">
                            {{status}}
                        </ng-option>
                    </ng-select>
                </div>
            </div>

            <!-- logo -->
            <div class="bb-gray py-2">
                <div class="p-3">
                    <label for="logo"> Logo <span class="text-danger">*</span></label>
                    <input id="logo" name="logo" ngModel #logo="ngModel" type="file" accept="image/*"
                        class="form-control" required (change)="uploadImage($event)">

                    <div class="errors" *ngIf="logo.touched && logo.invalid">
                        <p class="text-center m-0" *ngIf="logo.errors?.['required']">* Please enter logo
                            *
                        </p>
                    </div>
                </div>
            </div>



            <div class="py-2 text-center">
                <button class="btn btn-primary" [disabled]="form['invalid']" type="submit">Submit</button>
            </div>

        </form>
    </div>
</ng-template>