<div class="p-3">
    <div class="d-flex justify-content-between">
        <p class="h2">Exhibitors</p>
        <div class="align-content-center">
            <button (click)="openModal(newExhibitorContent)" class="px-2 py-1 button">Add New Exhibitor</button>
        </div>
    </div>

    <!-- Content -->
    <div>
        <!-- Loading -->
        <div class="d-flex justify-content-center" *ngIf="isLoading">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <!-- Error -->
        <div class="text-center text-danger fs-small" *ngIf="isError">
            We encountered an issue while fetching the requested data. Please try again later. If the issue persists,
            contact support.
        </div>

        <!-- Content -->
        <div *ngIf="!isError && !isLoading">
            <div>
                <div class="w-50">
                    <label for="">
                        Filter by status:
                    </label>
                    <ng-select name="status" [(ngModel)]="FilterStatus" (change)="onChangeFilter()">
                        <ng-option *ngFor="let status of statusList" [value]="status">
                            {{status}}
                        </ng-option>
                    </ng-select>
                </div>

                <div *ngIf="listOfExhibitors.length == 0">
                    <p class="text-secondary text-center fs-small py-3">Currently, there is no information to show.</p>
                </div>
            </div>

            <div class="my-3" *ngIf="listOfExhibitors.length > 0">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Company</th>
                            <th>Email</th>
                            <th>Name</th>
                            <th>Mobile</th>
                            <th>Position</th>
                            <th>Website</th>
                            <th>Status</th>
                            <th>Classification</th>
                            <th>Logo</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let exhibitor of listOfExhibitors">
                            <td [ngClass]="{'bg-pending': exhibitor.status == 'Pending' , 'bg-rejected' : exhibitor.status == 'Rejected'
                ,'bg-confirmed' : exhibitor.status == 'Confirmed'}">{{exhibitor.company_name}}</td>
                            <td [ngClass]="{'bg-pending': exhibitor.status == 'Pending' , 'bg-rejected' : exhibitor.status == 'Rejected'
                ,'bg-confirmed' : exhibitor.status == 'Confirmed'}">{{exhibitor.email}}</td>
                            <td [ngClass]="{'bg-pending': exhibitor.status == 'Pending' , 'bg-rejected' : exhibitor.status == 'Rejected'
                ,'bg-confirmed' : exhibitor.status == 'Confirmed'}">{{exhibitor.fullname}}</td>
                            <td [ngClass]="{'bg-pending': exhibitor.status == 'Pending' , 'bg-rejected' : exhibitor.status == 'Rejected'
                ,'bg-confirmed' : exhibitor.status == 'Confirmed'}">{{exhibitor.mobile_no}}</td>
                            <td [ngClass]="{'bg-pending': exhibitor.status == 'Pending' , 'bg-rejected' : exhibitor.status == 'Rejected'
                ,'bg-confirmed' : exhibitor.status == 'Confirmed'}">{{exhibitor.position}}</td>
                            <td [ngClass]="{'bg-pending': exhibitor.status == 'Pending' , 'bg-rejected' : exhibitor.status == 'Rejected'
                ,'bg-confirmed' : exhibitor.status == 'Confirmed'}">{{exhibitor.website}}</td>
                            <td [ngClass]="{'bg-pending': exhibitor.status == 'Pending' , 'bg-rejected' : exhibitor.status == 'Rejected'
                ,'bg-confirmed' : exhibitor.status == 'Confirmed'}">{{exhibitor.status}}</td>
                            <td [ngClass]="{'bg-pending': exhibitor.status == 'Pending' , 'bg-rejected' : exhibitor.status == 'Rejected'
                ,'bg-confirmed' : exhibitor.status == 'Confirmed'}">{{exhibitor.classification}}</td>
                           
                            <td [ngClass]="{'bg-pending': exhibitor.status == 'Pending' , 'bg-rejected' : exhibitor.status == 'Rejected'
                ,'bg-confirmed' : exhibitor.status == 'Confirmed'}">
                                <img *ngIf="exhibitor.logo" src="{{apiUrl}}{{exhibitor.logo.slice(1)}}" alt=""
                                    style="max-width: 90px;">
                                    <p class="text-center fs-small text-secondary" *ngIf="!exhibitor.logo">
                                        no logo
                                    </p>
                            </td>
                            <td [ngClass]="{'bg-pending': exhibitor.status == 'Pending' , 'bg-rejected' : exhibitor.status == 'Rejected'
                ,'bg-confirmed' : exhibitor.status == 'Confirmed'}" style="text-align: center; align-content: center;">
                                <button class="fs-small m-0 p-0" mat-icon-button [matMenuTriggerFor]="menu"
                                    aria-label="Example icon-button with a menu">
                                    <i class="fa-solid fa-chevron-down"></i>
                                </button>
                                <mat-menu #menu="matMenu">

                                    <a id="item1" class=" p-0 m-0 h-100 d-block px-1" mat-menu-item
                                        (click)="openModal(updateContent, exhibitor)">
                                        <p style="font-weight: 500;" class="px-1 p-0 m-0" id="mat-item-cutom">update
                                        </p>
                                    </a>

                                </mat-menu>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>

<ng-template #updateContent>
    <div class="p-3 bg-white">
        <!-- <p class="text-center h2">{{selectedExhibitor.fullname}}</p> -->

        <div class="py-2">

            <form #form='ngForm' class="mx-auto card py-2" (ngSubmit)="updateExhibitor()">
                <p class="h2 text-center my-2">Update Exhibitor</p>
                <!--- Email -->
                <div class="bb-gray py-2">
                    <div class="p-3">
                        <label for="email">Email <span class="text-danger">*</span></label>
                        <input id="email" name="email" ngModel #email='ngModel' type="email" class="form-control"
                            required [(ngModel)]="selectedExhibitor.email">

                        <div class="errors" *ngIf="email.touched && email.invalid">
                            <p class="text-center m-0" *ngIf="email.errors?.['required']">* Please enter email *</p>
                        </div>
                    </div>
                </div>

                <!-- fullname -->
                <div class="bb-gray py-2">
                    <div class="p-3">
                        <label for="fullname">Full Name <span class="text-danger">*</span> </label>
                        <input id="fullname" name="fullname" ngModel #fullname="ngModel" type="text"
                            class="form-control" required [(ngModel)]="selectedExhibitor.fullname">

                        <div class="errors" *ngIf="fullname.touched && fullname.invalid">
                            <p class="text-center m-0" *ngIf="fullname.errors?.['required']">* Please enter full name *
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Mobile -->
                <div class="bb-gray py-2">
                    <div class="p-3">
                        <label for="mobile_no">Mobile number <span class="text-danger">*</span></label>
                        <input id="mobile_no" name="mobile_no" ngModel #mobile_no="ngModel" type="text"
                            class="form-control" required [(ngModel)]="selectedExhibitor.mobile_no">

                        <div class="errors" *ngIf="mobile_no.touched && mobile_no.invalid">
                            <p class="text-center m-0" *ngIf="mobile_no.errors?.['required']">* Please enter mobile
                                number
                                *
                            </p>
                        </div>
                    </div>
                </div>

                <!--- position -->
                <div class="bb-gray py-2">
                    <div class="p-3">
                        <label for="position">Job position <span class="text-danger">*</span></label>
                        <input id="position" name="position" ngModel #position="ngModel" type="text"
                            class="form-control" required [(ngModel)]="selectedExhibitor.position">

                        <div class="errors" *ngIf="position.touched && position.invalid">
                            <p class="text-center m-0" *ngIf="position.errors?.['required']">* Please enter job
                                position
                                *
                            </p>
                        </div>
                    </div>
                </div>

                <!-- company_name -->
                <div class="bb-gray py-2">
                    <div class="p-3">
                        <label for="company_name">Company Name
                            <span class="text-danger">*</span></label>
                        <input id="company_name" name="company_name" ngModel #company_name="ngModel" type="text"
                            class="form-control" required [(ngModel)]="selectedExhibitor.company_name">

                        <div class="errors" *ngIf="company_name.touched && company_name.invalid">
                            <p class="text-center m-0" *ngIf="company_name.errors?.['required']">* Please enter company
                                name *
                            </p>
                        </div>
                    </div>
                </div>

                <!-- website -->
                <div class="bb-gray py-2">
                    <div class="p-3">
                        <label for="website">Company website</label>
                        <input id="website" name="website" ngModel #website="ngModel" type="text" class="form-control"
                            [(ngModel)]="selectedExhibitor.website">
                    </div>
                </div>

                <!-- classification -->
                <div class="bb-gray py-2">
                    <div class="p-3">
                        <label class="text-secondary" for="classification">Classification: </label>
                        <ng-select name="classification" [(ngModel)]="selectedExhibitor.classification">
                            <ng-option *ngFor="let classification of classificationList" [value]="classification">
                                {{classification}}
                            </ng-option>
                        </ng-select>
                    </div>
                </div>

                <!-- status -->
                <div class="bb-gray py-2">
                    <div class="p-3">
                        <label class="text-secondary" for="status">Status: </label>
                        <ng-select name="status" [(ngModel)]="selectedExhibitor.status">
                            <ng-option *ngFor="let status of statusList" [value]="status">
                                {{status}}
                            </ng-option>
                        </ng-select>
                    </div>
                </div>

                <!-- Logo -->
                <div class="col-12 text-center" *ngIf="selectedExhibitor.logo">
                    <img src="{{selectedExhibitorLogo}}" alt="" style="max-width: 90%;">
                </div>

                <div class="bb-gray py-2">
                    <div class="p-3">
                        <label for="logo">New Logo</label>
                        <input id="logo" name="logo" ngModel #logo="ngModel" type="file" accept="image/*"
                            class="form-control" (change)="uploadImage($event)">
                    </div>
                </div>

                <div class="py-2 text-center">
                    <button class="btn btn-primary" [disabled]="form['invalid']" type="submit">Submit</button>
                </div>

            </form>
        </div>
    </div>
</ng-template>

<ng-template #newExhibitorContent>
    <div class="m-3 bg-white">
        <form #form='ngForm' class="mx-auto card py-2" (ngSubmit)="addNewExhibitor(form)">
            <p class="h2 text-center my-2">New Exhibitor</p>
            <!--- Email -->
            <div class="bb-gray py-2">
                <div class="p-3">
                    <label for="email">Email <span class="text-danger">*</span></label>
                    <input id="email" name="email" ngModel #email='ngModel' type="email" class="form-control" required>

                    <div class="errors" *ngIf="email.touched && email.invalid">
                        <p class="text-center m-0" *ngIf="email.errors?.['required']">* Please enter email *</p>
                    </div>
                </div>
            </div>

            <!-- fullname -->
            <div class="bb-gray py-2">
                <div class="p-3">
                    <label for="fullname">Full Name <span class="text-danger">*</span> </label>
                    <input id="fullname" name="fullname" ngModel #fullname="ngModel" type="text" class="form-control"
                        required>

                    <div class="errors" *ngIf="fullname.touched && fullname.invalid">
                        <p class="text-center m-0" *ngIf="fullname.errors?.['required']">* Please enter full name *</p>
                    </div>
                </div>
            </div>

            <!-- Mobile -->
            <div class="bb-gray py-2">
                <div class="p-3">
                    <label for="mobile_no">Mobile number <span class="text-danger">*</span></label>
                    <input id="mobile_no" name="mobile_no" ngModel #mobile_no="ngModel" type="text" class="form-control"
                        required>

                    <div class="errors" *ngIf="mobile_no.touched && mobile_no.invalid">
                        <p class="text-center m-0" *ngIf="mobile_no.errors?.['required']">* Please enter mobile
                            number
                            *
                        </p>
                    </div>
                </div>
            </div>

            <!--- position -->
            <div class="bb-gray py-2">
                <div class="p-3">
                    <label for="position">Job position <span class="text-danger">*</span></label>
                    <input id="position" name="position" ngModel #position="ngModel" type="text" class="form-control"
                        required>

                    <div class="errors" *ngIf="position.touched && position.invalid">
                        <p class="text-center m-0" *ngIf="position.errors?.['required']">* Please enter job
                            position
                            *
                        </p>
                    </div>
                </div>
            </div>

            <!-- company_name -->
            <div class="bb-gray py-2">
                <div class="p-3">
                    <label for="company_name">Company Name
                        <span class="text-danger">*</span></label>
                    <input id="company_name" name="company_name" ngModel #company_name="ngModel" type="text"
                        class="form-control" required>

                    <div class="errors" *ngIf="company_name.touched && company_name.invalid">
                        <p class="text-center m-0" *ngIf="company_name.errors?.['required']">* Please enter company
                            name *
                        </p>
                    </div>
                </div>
            </div>

            <!-- website -->
            <div class="bb-gray py-2">
                <div class="p-3">
                    <label for="website">Company website</label>
                    <input id="website" name="website" ngModel #website="ngModel" type="text" class="form-control">
                </div>
            </div>

            <!-- classification -->
            <div class="bb-gray py-2">
                <div class="p-3">
                    <label class="text-secondary" for="classification">Classification: </label>
                    <ng-select name="classification" ngModel #classification="ngModel">
                        <ng-option *ngFor="let classification of classificationList" [value]="classification">
                            {{classification}}
                        </ng-option>
                    </ng-select>
                </div>
            </div>

            <!-- status -->
            <div class="bb-gray py-2">
                <div class="p-3">
                    <label class="text-secondary" for="status">Status: </label>
                    <ng-select name="status" ngModel #status="ngModel">
                        <ng-option *ngFor="let status of statusList" [value]="status">
                            {{status}}
                        </ng-option>
                    </ng-select>
                </div>
            </div>

            <!-- logo -->
            <div class="bb-gray py-2">
                <div class="p-3">
                    <label for="logo"> Logo <span class="text-danger">*</span></label>
                    <input id="logo" name="logo" ngModel #logo="ngModel" type="file" accept="image/*"
                        class="form-control" required (change)="uploadImage($event)">

                    <div class="errors" *ngIf="logo.touched && logo.invalid">
                        <p class="text-center m-0" *ngIf="logo.errors?.['required']">* Please enter logo
                            *
                        </p>
                    </div>
                </div>
            </div>



            <div class="py-2 text-center">
                <button class="btn btn-primary" [disabled]="form['invalid']" type="submit">Submit</button>
            </div>

        </form>
    </div>
</ng-template>