.bg-pending {
    background: #fbfbb7d0;
    border: 2px solid #e0e056de;
}

.bg-rejected {
    background: #ebebebe9;
    border: 2px solid #848181e4;
}

.bg-confirmed {
    background: #ceffe0dd;
    border: 2px solid #34f67bc8;
}
