.card {
    box-shadow: 0px 0px 4px 1px #afadad;
}

.errors p{
    color: rgb(88, 12, 12);
    font-size: 12px;
}

input.ng-invalid.ng-touched{
    border-color: rgb(88, 12, 12);
}

.form-conatiner{
    top: 150px;
}

.form-div{
    position: relative;
}

.linkedin{
    background-color: #0a66c2;
    border: #0a66c2;
    color: white;
    border-radius: 5px;
}

.pdf-graphic{
    background-image: url('../../../../../assets/images/pdf-graphic.png');
    background-position: right;
    background-repeat: no-repeat;
}

.bg-darker{
    background-color: rgb(4 4 3) !important;
}

.overlay-black{
    background-color: #0000008f;
}

::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}

/* footer{
    position: absolute;
    bottom: 0;
    width: 100%;
} */