

button {
    /* background-color: var(--constraTech-dark-blue); */
    /* border: var(--constraTech-dark-blue); */
    /* color: white; */
    /* border-radius: 5px; */
    border: 0;
    background-color: transparent;
}

.my-btn {
    background-color: var(--constraTech-dark-blue);
    border: var(--constraTech-dark-blue);
    color: white;
    border-radius: 5px;
}

.deactivate-btn {
    background-color: gray !important;
}

.activate-btn {
    background-color: rgb(0, 131, 48) !important;
}

.bg-green {
    border-color: rgb(0, 131, 48) !important;
}

th,
td {
    font-size: small;
}



.mat-mdc-icon-button .mat-mdc-button-touch-target {
    top: 0% !important;
    height: 0 !important;
    left: 0 !important;
    width: 0 !important;
}

.mat-mdc-menu-item {
    min-height: 100%;
}

#mat-item-cutom {
    font-size: 13px !important;
}

#item1:hover {
    color: blue;
}

.mat-mdc-icon-button.mat-mdc-button-base {
    --mdc-icon-button-state-layer-size: 20px;
}