<div class="p-3">
    <div class="d-flex justify-content-between">
        <p class="h2">Speakers</p>

        <div class="align-content-center">
            <button (click)="openModal(newSpeakerContent)" class="px-2 py-1">Add New Speaker</button>
        </div>
    </div>

    <!-- Content -->
    <div>
        <!-- Loading -->
        <div class="d-flex justify-content-center" *ngIf="isLoading">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <!-- Error -->
        <div class="text-center text-danger fs-small" *ngIf="isError">
            We encountered an issue while fetching the requested data. Please try again later. If the issue persists,
            contact support.
        </div>

        <!-- Content -->
        <div *ngIf="!isError && !isLoading">
            <div>
                <div class="w-75 d-flex gap-1">
                    <div class="w-50">
                        <label for="">
                            Filter by status:
                        </label>
                        <ng-select name="status" [(ngModel)]="FilterStatus" (change)="onChangeFilter()">
                            <ng-option *ngFor="let status of statusList" [value]="status">
                                {{status}}
                            </ng-option>
                        </ng-select>
                    </div>

                    <!-- <div class="w-50">
                        <label for="">
                            Top Five:
                        </label>
                        <ng-select name="top_five" [(ngModel)]="FilterTopFive" (change)="onChangeFilter()">
                            <ng-option value="true">
                                Yes
                            </ng-option>
                            <ng-option value="false">
                                No
                            </ng-option>
                        </ng-select>
                    </div> -->
                </div>

                <div *ngIf="listOfspeakers.length == 0">
                    <p class="text-secondary text-center fs-small py-3">Currently, there is no information to show.</p>
                </div>
            </div>
            <div class="card p-2 my-2" *ngFor="let speaker of listOfspeakers" [ngClass]="{'bg-pending': speaker.status == 'Pending' , 'bg-rejected' : speaker.status == 'Rejected'
            , 'bg-confirmed' : speaker.status == 'Confirmed'}">
                <div class="row">
                    <!-- <div *ngIf="speaker.top_five">
                        <p class="text-right gold h2 my-2 top-five">
                            Top Five <i class="fas fa-star"></i>
                        </p>
                    </div> -->
                    <div class="col-md-6 col-sm-12" *ngIf="speaker.company_name">
                        <p><span class="fw-bold">Company Name:</span> {{speaker.company_name}}</p>
                    </div>

                    <div class="col-md-6 col-sm-12" *ngIf="speaker.email">
                        <p><span class="fw-bold">Email:</span> {{speaker.email}}</p>
                    </div>

                    <div class="col-md-6 col-sm-12" *ngIf="speaker.fullname">
                        <p><span class="fw-bold">Name:</span> {{speaker.fullname}}</p>
                    </div>

                    <div class="col-md-6 col-sm-12" *ngIf="speaker.mobile_no">
                        <p><span class="fw-bold">Mobile:</span> {{speaker.mobile_no}}</p>
                    </div>

                    <div class="col-md-6 col-sm-12" *ngIf="speaker.position">
                        <p><span class="fw-bold">Position:</span> {{speaker.position}}</p>
                    </div>

                    <div class="col-md-6 col-sm-12" *ngIf="speaker.website">
                        <p><span class="fw-bold">Website:</span> {{speaker.website}}</p>
                    </div>

                    <div class="col-md-6 col-sm-12" *ngIf="speaker.status">
                        <p><span class="fw-bold">Status:</span> {{speaker.status}}</p>
                    </div>

                    <div class="col-md-6 col-sm-12" *ngIf="speaker.bio">
                        <p><span class="fw-bold">Bio: </span> {{speaker.bio}}</p>
                    </div>

                    <div class="col-md-6 col-sm-12" *ngIf="speaker.facebook">
                        <p><span class="fw-bold">Facebook: </span> <a href="{{speaker.facebook}}"
                                target="_blank">{{speaker.facebook}}</a></p>
                    </div>

                    <div class="col-md-6 col-sm-12" *ngIf="speaker.linkedin">
                        <p><span class="fw-bold">Linkedin: </span> <a href="{{speaker.linkedin}}"
                                target="_blank">{{speaker.linkedin}}</a></p>
                    </div>

                    <div class="col-md-6 col-sm-12" *ngIf="speaker.speech_brief">
                        <p><span class="fw-bold">Speech Brief: </span> {{speaker.speech_brief}}</p>
                    </div>

                    <div class="col-md-6 col-sm-12" *ngIf="speaker.speech_title">
                        <p><span class="fw-bold">Speech Title: </span> {{speaker.speech_title}}</p>
                    </div>

                    <div class="col-md-6 col-sm-12" *ngIf="speaker.bio">
                        <p><span class="fw-bold">Bio: </span> {{speaker.bio}}</p>
                    </div>
                </div>

                <div class="text-center">
                    <img [src]="apiUrl + speaker.photo_path.slice(1)" alt="" style="max-width: 100%;" height="200px">
                </div>

                <div class="text-center my-2">
                    <button class="btn btn-primary" (click)="openModal(updateContent,speaker)">Update</button>
                </div>
            </div>
        </div>

    </div>
</div>


<ng-template #updateContent>
    <div class="p-3 bg-white">
        <div class="py-2">
            <form #form='ngForm' class="mx-auto card py-2" (ngSubmit)="updateSpeaker()">
                <p class="h2 text-center my-2">Update Speaker</p>

                <!-- Email -->
                <div class="bb-gray py-2">
                    <div class="p-3">
                        <label for="email">Email <span class="text-danger">*</span></label>
                        <input id="email" name="email" ngModel #email='ngModel' type="email" class="form-control"
                            required [(ngModel)]="selectedSpeaker.email">

                        <div class="errors" *ngIf="email.touched && email.invalid">
                            <p class="text-center m-0" *ngIf="email.errors?.['required']">* Please enter email *</p>
                        </div>
                    </div>
                </div>

                <!-- fullname -->
                <div class="bb-gray py-2">
                    <div class="p-3">
                        <label for="fullname">Full name <span class="text-danger">*</span> </label>
                        <input id="fullname" name="fullname" ngModel #fullname="ngModel" type="text"
                            class="form-control" required [(ngModel)]="selectedSpeaker.fullname">

                        <div class="errors" *ngIf="fullname.touched && fullname.invalid">
                            <p class="text-center m-0" *ngIf="fullname.errors?.['required']">* Please enter full name *
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Mobile -->
                <div class="bb-gray py-2">
                    <div class="p-3">
                        <label for="mobile_no">Mobile Number <span class="text-danger">*</span></label>
                        <input id="mobile_no" name="mobile_no" ngModel #mobile_no="ngModel" type="text"
                            class="form-control" required [(ngModel)]="selectedSpeaker.mobile_no">

                        <div class="errors" *ngIf="mobile_no.touched && mobile_no.invalid">
                            <p class="text-center m-0" *ngIf="mobile_no.errors?.['required']">* Please enter mobile
                                number
                                *
                            </p>
                        </div>
                    </div>
                </div>

                <!-- facebook -->
                <div class="bb-gray py-2">
                    <div class="p-3">
                        <label for="facebook">Facebook account <span class="text-danger">*</span></label>
                        <input id="facebook" name="facebook" ngModel #facebook="ngModel" type="text"
                            class="form-control" required [(ngModel)]="selectedSpeaker.facebook">

                        <div class="errors" *ngIf="facebook.touched && facebook.invalid">
                            <p class="text-center m-0" *ngIf="facebook.errors?.['required']">* Please enter facebook
                                account
                                *
                            </p>
                        </div>
                    </div>
                </div>

                <!-- linkedin -->
                <div class="bb-gray py-2">
                    <div class="p-3">
                        <label for="linkedin">LinkedIn account <span class="text-danger">*</span></label>
                        <input id="linkedin" name="linkedin" ngModel #linkedin="ngModel" type="text"
                            class="form-control" required [(ngModel)]="selectedSpeaker.linkedin">

                        <div class="errors" *ngIf="linkedin.touched && linkedin.invalid">
                            <p class="text-center m-0" *ngIf="linkedin.errors?.['required']">* Please enter linkedin
                                account
                                *
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Job Position -->
                <div class="bb-gray py-2">
                    <div class="p-3">
                        <label for="position">Job position <span class="text-danger">*</span></label>
                        <input id="position" name="position" ngModel #position="ngModel" type="text"
                            class="form-control" required [(ngModel)]="selectedSpeaker.position">

                        <div class="errors" *ngIf="position.touched && position.invalid">
                            <p class="text-center m-0" *ngIf="position.errors?.['required']">* Please enter job
                                position
                                *
                            </p>
                        </div>
                    </div>
                </div>

                <!-- company_name -->
                <div class="bb-gray py-2">
                    <div class="p-3">
                        <label for="company_name"> Company Name
                            <span class="text-danger">*</span></label>
                        <input id="company_name" name="company_name" ngModel #company_name="ngModel" type="text"
                            class="form-control" required [(ngModel)]="selectedSpeaker.company_name">

                        <div class="errors" *ngIf="company_name.touched && company_name.invalid">
                            <p class="text-center m-0" *ngIf="company_name.errors?.['required']">* Please enter company
                                name *
                            </p>
                        </div>
                    </div>
                </div>

                <!-- website -->
                <div class="bb-gray py-2">
                    <div class="p-3">
                        <label for="website">Company website</label>
                        <input id="website" name="website" ngModel #website="ngModel" type="text" class="form-control"
                            [(ngModel)]="selectedSpeaker.website">
                    </div>
                </div>

                <!-- speech_title -->
                <div class="bb-gray py-2">
                    <div class="p-3">
                        <label for="speech_title">Speech title <span class="text-danger">*</span></label>
                        <input id="speech_title" name="speech_title" ngModel #speech_title="ngModel" type="text"
                            class="form-control" required [(ngModel)]="selectedSpeaker.speech_title">

                        <div class="errors" *ngIf="speech_title.touched && speech_title.invalid">
                            <p class="text-center m-0" *ngIf="speech_title.errors?.['required']">* Please enter speech
                                title *
                            </p>
                        </div>
                    </div>
                </div>

                <!-- speech_brief -->
                <div class="bb-gray py-2">
                    <div class="p-3">
                        <label for="speech_brief">Speech Brief <span class="text-danger">*</span></label>
                        <input id="speech_brief" name="speech_brief" ngModel #speech_brief="ngModel" type="text"
                            class="form-control" required [(ngModel)]="selectedSpeaker.speech_brief">

                        <div class="errors" *ngIf="speech_brief.touched && speech_brief.invalid">
                            <p class="text-center m-0" *ngIf="speech_brief.errors?.['required']">* Please enter speech
                                brief *
                            </p>
                        </div>
                    </div>
                </div>

                <!-- BIO -->
                <div class="bb-gray py-2">
                    <div class="p-3">
                        <label for="bio">BIO </label>
                        <input id="bio" name="bio" type="text" class="form-control" ngModel #bio="ngModel"
                            [(ngModel)]="selectedSpeaker.bio">
                    </div>
                </div>

                <div class="bb-gray py-2">
                    <div class="p-3">
                        <label class="text-secondary" for="status">Status: </label>
                        <ng-select name="status" ngModel [(ngModel)]="selectedSpeaker.status">
                            <ng-option *ngFor="let status of statusList" [value]="status">
                                {{status}}
                            </ng-option>
                        </ng-select>
                    </div>
                </div>

                <!-- <div class="bb-gray py-2">
                    <div class="p-3">
                        <label class="text-secondary" for="top_five">Top Five?</label>
                        <ng-select name="top_five" ngModel [(ngModel)]="selectedSpeaker.top_five">
                            <ng-option [value]="true">
                                Yes
                            </ng-option>
                            <ng-option [value]="false">
                                No
                            </ng-option>
                        </ng-select>
                    </div>
                </div> -->

                <!-- photo_path -->
                <div class="col-12 text-center" *ngIf="selectedSpeaker.photo_path">
                    <img src="{{selectedSpeakerPhoto}}" alt="" style="max-width: 90%;">
                </div>

                <div class="bb-gray py-2">
                    <div class="p-3">
                        <label for="logo">New Photo</label>
                        <input id="logo" name="logo" ngModel #logo="ngModel" type="file" accept="image/*"
                            class="form-control" (change)="uploadImage($event)">
                    </div>
                </div>

                <div class="py-2 text-center">
                    <button class="btn btn-primary" [disabled]="form['invalid']" type="submit">Submit</button>
                </div>

            </form>
        </div>
    </div>
</ng-template>

<ng-template #newSpeakerContent>
    <div class="bg-white p-3">
        <form #form='ngForm' class="mx-auto card py-2" (ngSubmit)="addSpeaker(form)">
            <p class="h2 text-center my-2">New Speaker</p>

            <!-- Email -->
            <div class="bb-gray py-2">
                <div class="p-3">
                    <label for="email">Email <span class="text-danger">*</span></label>
                    <input id="email" name="email" ngModel #email='ngModel' type="email" class="form-control" required>

                    <div class="errors" *ngIf="email.touched && email.invalid">
                        <p class="text-center m-0" *ngIf="email.errors?.['required']">* Please enter email *</p>
                    </div>
                </div>
            </div>

            <!-- fullname -->
            <div class="bb-gray py-2">
                <div class="p-3">
                    <label for="fullname">Full name <span class="text-danger">*</span> </label>
                    <input id="fullname" name="fullname" ngModel #fullname="ngModel" type="text" class="form-control"
                        required>

                    <div class="errors" *ngIf="fullname.touched && fullname.invalid">
                        <p class="text-center m-0" *ngIf="fullname.errors?.['required']">* Please enter full name *</p>
                    </div>
                </div>
            </div>

            <!-- Mobile -->
            <div class="bb-gray py-2">
                <div class="p-3">
                    <label for="mobile_no">Mobile Number <span class="text-danger">*</span></label>
                    <input id="mobile_no" name="mobile_no" ngModel #mobile_no="ngModel" type="text" class="form-control"
                        required>

                    <div class="errors" *ngIf="mobile_no.touched && mobile_no.invalid">
                        <p class="text-center m-0" *ngIf="mobile_no.errors?.['required']">* Please enter mobile
                            number
                            *
                        </p>
                    </div>
                </div>
            </div>

            <!-- facebook -->
            <div class="bb-gray py-2">
                <div class="p-3">
                    <label for="facebook">Facebook account <span class="text-danger">*</span></label>
                    <input id="facebook" name="facebook" ngModel #facebook="ngModel" type="text" class="form-control"
                        required>

                    <div class="errors" *ngIf="facebook.touched && facebook.invalid">
                        <p class="text-center m-0" *ngIf="facebook.errors?.['required']">* Please enter facebook
                            account
                            *
                        </p>
                    </div>
                </div>
            </div>

            <!-- linkedin -->
            <div class="bb-gray py-2">
                <div class="p-3">
                    <label for="linkedin">LinkedIn account <span class="text-danger">*</span></label>
                    <input id="linkedin" name="linkedin" ngModel #linkedin="ngModel" type="text" class="form-control"
                        required>

                    <div class="errors" *ngIf="linkedin.touched && linkedin.invalid">
                        <p class="text-center m-0" *ngIf="linkedin.errors?.['required']">* Please enter linkedin
                            account
                            *
                        </p>
                    </div>
                </div>
            </div>

            <!-- Job Position -->
            <div class="bb-gray py-2">
                <div class="p-3">
                    <label for="position">Job position <span class="text-danger">*</span></label>
                    <input id="position" name="position" ngModel #position="ngModel" type="text" class="form-control"
                        required>

                    <div class="errors" *ngIf="position.touched && position.invalid">
                        <p class="text-center m-0" *ngIf="position.errors?.['required']">* Please enter job
                            position
                            *
                        </p>
                    </div>
                </div>
            </div>

            <!-- company_name -->
            <div class="bb-gray py-2">
                <div class="p-3">
                    <label for="company_name"> Company Name
                        <span class="text-danger">*</span></label>
                    <input id="company_name" name="company_name" ngModel #company_name="ngModel" type="text"
                        class="form-control" required>

                    <div class="errors" *ngIf="company_name.touched && company_name.invalid">
                        <p class="text-center m-0" *ngIf="company_name.errors?.['required']">* Please enter company
                            name *
                        </p>
                    </div>
                </div>
            </div>

            <!-- website -->
            <div class="bb-gray py-2">
                <div class="p-3">
                    <label for="website">Company website</label>
                    <input id="website" name="website" ngModel #website="ngModel" type="text" class="form-control">
                </div>
            </div>

            <!-- speech_title -->
            <div class="bb-gray py-2">
                <div class="p-3">
                    <label for="speech_title">Speech title <span class="text-danger">*</span></label>
                    <input id="speech_title" name="speech_title" ngModel #speech_title="ngModel" type="text"
                        class="form-control" required>

                    <div class="errors" *ngIf="speech_title.touched && speech_title.invalid">
                        <p class="text-center m-0" *ngIf="speech_title.errors?.['required']">* Please enter speech
                            title *
                        </p>
                    </div>
                </div>
            </div>

            <!-- speech_brief -->
            <div class="bb-gray py-2">
                <div class="p-3">
                    <label for="speech_brief">Speech Brief <span class="text-danger">*</span></label>
                    <input id="speech_brief" name="speech_brief" ngModel #speech_brief="ngModel" type="text"
                        class="form-control" required>

                    <div class="errors" *ngIf="speech_brief.touched && speech_brief.invalid">
                        <p class="text-center m-0" *ngIf="speech_brief.errors?.['required']">* Please enter speech
                            brief *
                        </p>
                    </div>
                </div>
            </div>

            <!-- BIO -->
            <div class="bb-gray py-2">
                <div class="p-3">
                    <label for="bio">BIO </label>
                    <input id="bio" name="bio" type="text" class="form-control" ngModel #bio="ngModel">
                </div>
            </div>

            <!-- photo_path -->
            <div class="bb-gray py-2">
                <div class="p-3">
                    <label for="photo"> Please upload your personal photo <span class="text-danger">*</span></label>
                    <input id="photo" name="photo" ngModel #photo="ngModel" type="file" accept="image/*"
                        class="form-control" required (change)="uploadImage($event)">

                    <div class="errors" *ngIf="photo.touched && photo.invalid">
                        <p class="text-center m-0" *ngIf="photo.errors?.['required']">* Please enter your profile photo
                            *
                        </p>
                    </div>

                </div>
            </div>

            <!-- Status -->
            <div class="bb-gray py-2">
                <div class="p-3">
                    <label class="text-secondary" for="status">Status: </label>
                    <ng-select name="status" ngModel #status="ngModel">
                        <ng-option *ngFor="let status of statusList" [value]="status">
                            {{status}}
                        </ng-option>
                    </ng-select>
                </div>
            </div>

            <!-- Top Five -->
            <!-- <div class="bb-gray py-2">
                <div class="p-3">
                    <label class="text-secondary" for="top_five">Top Five?</label>
                    <ng-select name="top_five" ngModel>
                        <ng-option [value]="true">
                            Yes
                        </ng-option>
                        <ng-option [value]="false">
                            No
                        </ng-option>
                    </ng-select>
                </div>
            </div> -->


            <div class="py-2 text-center">
                <button class="btn btn-primary" [disabled]="form['invalid']" type="submit">Submit</button>
            </div>


        </form>
    </div>
</ng-template>