<div>

    <div id="speakers-list" class="py-2 my-5">
        <div class="w-90 mx-auto">
            <p class="h2">Speakers list</p>

            <div class="row">
                <div class="col-md-4 col-sm-6" *ngFor="let speaker of listOfSpeakers">
                    <div class="speaker-container">
                        <img [src]="apiUrl + speaker.photo_path.slice(1)" alt=""
                            style="max-height: 250px; width: 100%;">
                        <div class="speaker-content p-2 align-content-end">

                            <div>
                                <div>
                                    <p class="text-center m-0">{{speaker.position}} at {{speaker.company_name}}</p>

                                    <div class="text-center my-2">
                                        <p class="m-0">{{ speaker.mobile_no }}</p>
                                        <p class="m-0">{{ speaker.email }}</p>
                                    </div>

                                    <div class="text-center">
                                        <a class="mx-3" target="_blank" href="{{speaker.facebook}}"><i
                                                class="fa-brands fa-facebook-f text-white"></i></a>
                                        <a class="mx-3" target="_blank" href="{{speaker.linkedin}}"><i
                                                class="fa-brands fa-linkedin-in text-white"></i></a>
                                        <a class="mx-3" target="_blank" href="{{speaker.website}}"><i
                                                class="fa-solid fa-globe text-white"></i></a>
                                    </div>

                                </div>
                            </div>

                            <!-- speech_brief / speech_title-->
                        </div>
                    </div>
                    <p class="text-center fw-bold">{{ speaker.fullname }}</p>
                </div>

            </div>
        </div>
    </div>
</div>