<div class="p-3">
    <div class="d-flex justify-content-between">
        <p class="h2">Gallery</p>
        <div class="align-content-center">
            <button (click)="openModal(newPhotoContent)" class="px-2 py-1">New <i
                    class="fa-regular fa-image"></i></button>
        </div>
    </div>

    <!-- Content -->
    <div>
        <!-- Loading -->
        <div class="d-flex justify-content-center" *ngIf="isLoading">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <!-- Error -->
        <div class="text-center text-danger fs-small" *ngIf="isError">
            We encountered an issue while fetching the requested data. Please try again later. If the issue persists,
            contact support.
        </div>

        <div class="row" *ngIf="!isLoading && !isError">
            <div>
                <div class="w-50">
                    <label for="">
                        Filter by status:
                    </label>
                    <ng-select name="status" [(ngModel)]="FilterStatus" (change)="onChangeFilter()">
                        <ng-option *ngFor="let status of statusList" [value]="status">
                            {{status}}
                        </ng-option>
                    </ng-select>
                </div>

                <div *ngIf="ImagesList.length == 0">
                    <p class="text-secondary text-center fs-small py-3">Currently, there is no information to show.</p>
                </div>
            </div>


            <div class="col-md-4 col-sm-12 my-2" *ngFor="let image of ImagesList">
                <div class=" img-container m-1 p-1 h-100" [ngClass]="{'bg-green': image.status == 'Active'}">

                    <ng-container>
                        <img *ngIf="isImageOrVideo(apiUrl+image.filename) == 'image'" [src]="apiUrl+image.filename"
                            alt="">
                        <video *ngIf="isImageOrVideo(apiUrl+image.filename) == 'video'" [src]="apiUrl+image.filename"
                            alt="" style="max-width: 100%;" controls preload="none"></video>
                    </ng-container>
                    <p class="text-center my-2 fw-bold"
                        [ngClass]="{'text-success' : image.status == 'Active' , 'text-secondary' :image.status == 'Inactive' }">
                        {{image.status}}  {{image.highlights ? ' - highlighted' : ''}}
                    </p>
                    <div class="text-center">
                        <button class="mx-2" *ngIf="image.status == 'Active'"
                            (click)="updateImageStatus('Inactive' , image._id)">Deactivate</button>
                        <button class="mx-2" *ngIf="image.status == 'Inactive'"
                            (click)="updateImageStatus('Active' , image._id)">Activate</button>

                        <button class="mx-2" *ngIf="image.highlights"
                            (click)="updateImageHighlight(false , image._id)">Unhighlight</button>
                        <button class="mx-2" *ngIf="!image.highlights"
                            (click)="updateImageHighlight(true , image._id)">Highlight</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #newPhotoContent>
    <div class="p-3 bg-white">
        <p class="h3">New Gallery</p>
        <form #newPhotForm="ngForm" (ngSubmit)="addPhoto()">
            <div class="my-3">
                <label for="photo" class="label-form text-secondary">Select media

                </label>
                <input type="file" name="photo" id="photo" class="form-control" accept="image/*|video/*"
                    (change)="uploadImage($event)" required>
            </div>
            <div class="text-center my-3">
                <button [disabled]="newPhotForm.invalid || !file" type="submit">submit</button>
            </div>
        </form>

    </div>
</ng-template>