.w-90 {
    width: 90%;
}

.section-1 {
    background-color: #394577;
}

.section-1 span {
    letter-spacing: .28px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.text-end {
    text-align: end;
}

.section-2 .date {
    font-size: 1.125rem;
    letter-spacing: .022rem;
    font-family: Inter;
    color: black;
}

.section-2 .time,
.section-2 .location {
    font-weight: 500;
    line-height: 1.375rem;
    color: black;
}

.justify-items-end {
    justify-items: end;
}

.bg-gray {
    background-color: #e5e3e3;
}

nav ul {
    list-style: none;
}

.banner {
    position: relative;
}

.banner-child {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.475);
    top: 0;
}

.banner-child .content {
    background-color: rgba(0, 0, 0, 0.441);
    font-weight: 600;
    letter-spacing: .32px;
    line-height: 1.187rem;
}

.bg-green{
    background-color: green;
}

.banner{
    overflow: hidden;
}

.banner-child .content2{
    background-color: #328b09;
}