<div>

    <div id="speakers-list" class="py-2 my-5">
        <div class="w-90 mx-auto">
            <p class="h2">Main Topics</p>

            <div class="row">
                <div class="col-md-3 col-sm-12 p-0">
                    <div class="main-topic-container">
                        <img src="../../assets/images/builder-structure-075.avif" alt="">
                        <div class="w-100 h-100 overlay"></div>
                        <div class="my-child text-center align-content-center px-2">
                            <p class="text-white fw-bold h5  px-2 py-3">BIM: Building information modeling</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 p-0">
                    <div class="main-topic-container">
                        <img src="../../assets/images/builder-structure-075.avif" alt="">
                        <div class="w-100 h-100 overlay"></div>
                        <div class="my-child text-center align-content-center px-2">
                            <p class="text-white fw-bold h5  px-2 py-3">GIS: Geographic information system</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 p-0">
                    <div class="main-topic-container">
                        <img src="../../assets/images/builder-structure-075.avif" alt="">
                        <div class="w-100 h-100 overlay"></div>
                        <div class="my-child text-center align-content-center px-2">
                            <p class="text-white fw-bold h5  px-2 py-3">Big Data and Artificial Intelligence</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 p-0">
                    <div class="main-topic-container">
                        <img src="../../assets/images/builder-structure-075.avif" alt="">
                        <div class="w-100 h-100 overlay"></div>
                        <div class="my-child text-center align-content-center px-2">
                            <p class="text-white fw-bold h5 px-2 py-3">Digital twin</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 p-0">
                    <div class="main-topic-container">
                        <img src="../../assets/images/builder-structure-075.avif" alt="">
                        <div class="w-100 h-100 overlay"></div>
                        <div class="my-child text-center align-content-center px-2">
                            <p class="text-white fw-bold h5  px-2 py-3">IOT: Internet of things</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 p-0">
                    <div class="main-topic-container">
                        <img src="../../assets/images/builder-structure-075.avif" alt="">
                        <div class="w-100 h-100 overlay"></div>
                        <div class="my-child text-center align-content-center px-2">
                            <p class="text-white fw-bold h5  px-2 py-3">Laser scanning</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 p-0">
                    <div class="main-topic-container">
                        <img src="../../assets/images/builder-structure-075.avif" alt="">
                        <div class="w-100 h-100 overlay"></div>
                        <div class="my-child text-center align-content-center px-2">
                            <p class="text-white fw-bold h5  px-2 py-3">3D printing</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 p-0">
                    <div class="main-topic-container">
                        <img src="../../assets/images/builder-structure-075.avif" alt="">
                        <div class="w-100 h-100 overlay"></div>
                        <div class="my-child text-center align-content-center px-2">
                            <p class="text-white fw-bold h5 px-2 py-3">Facility Management</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 p-0">
                    <div class="main-topic-container">
                        <img src="../../assets/images/builder-structure-075.avif" alt="">
                        <div class="w-100 h-100 overlay"></div>
                        <div class="my-child text-center align-content-center px-2">
                            <p class="text-white fw-bold h5  px-2 py-3">Cloud applications</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 p-0">
                    <div class="main-topic-container">
                        <img src="../../assets/images/builder-structure-075.avif" alt="">
                        <div class="w-100 h-100 overlay"></div>
                        <div class="my-child text-center align-content-center px-2">
                            <p class="text-white fw-bold h5  px-2 py-3">Virtual reality and augmented reality</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 p-0">
                    <div class="main-topic-container">
                        <img src="../../assets/images/builder-structure-075.avif" alt="">
                        <div class="w-100 h-100 overlay"></div>
                        <div class="my-child text-center align-content-center px-2">
                            <p class="text-white fw-bold h5  px-2 py-3">Drones</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 p-0">
                    <div class="main-topic-container">
                        <img src="../../assets/images/builder-structure-075.avif" alt="">
                        <div class="w-100 h-100 overlay"></div>
                        <div class="my-child text-center align-content-center px-2">
                            <p class="text-white fw-bold h5 px-2 py-3">Sustainability</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 p-0">
                    <div class="main-topic-container">
                        <img src="../../assets/images/builder-structure-075.avif" alt="">
                        <div class="w-100 h-100 overlay"></div>
                        <div class="my-child text-center align-content-center px-2">
                            <p class="text-white fw-bold h5 px-2 py-3">Robotics</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 p-0">
                    <div class="main-topic-container">
                        <img src="../../assets/images/builder-structure-075.avif" alt="">
                        <div class="w-100 h-100 overlay"></div>
                        <div class="my-child text-center align-content-center px-2">
                            <p class="text-white fw-bold h5 px-2 py-3"> Mobile Apps and 5G Technology</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 p-0">
                    <div class="main-topic-container">
                        <img src="../../assets/images/builder-structure-075.avif" alt="">
                        <div class="w-100 h-100 overlay"></div>
                        <div class="my-child text-center align-content-center px-2">
                            <p class="text-white fw-bold h5 px-2 py-3">ERP systems</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 p-0">
                    <div class="main-topic-container">
                        <img src="../../assets/images/builder-structure-075.avif" alt="">
                        <div class="w-100 h-100 overlay"></div>
                        <div class="my-child text-center align-content-center px-2">
                            <p class="text-white fw-bold h5 px-2 py-3">Contracts</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 p-0">
                    <div class="main-topic-container">
                        <img src="../../assets/images/builder-structure-075.avif" alt="">
                        <div class="w-100 h-100 overlay"></div>
                        <div class="my-child text-center align-content-center px-2">
                            <p class="text-white fw-bold h5 px-2 py-3">Document Control</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 p-0">
                    <div class="main-topic-container">
                        <img src="../../assets/images/builder-structure-075.avif" alt="">
                        <div class="w-100 h-100 overlay"></div>
                        <div class="my-child text-center align-content-center px-2">
                            <p class="text-white fw-bold h5 px-2 py-3">Sustainability and Green Building</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 p-0">
                    <div class="main-topic-container">
                        <img src="../../assets/images/builder-structure-075.avif" alt="">
                        <div class="w-100 h-100 overlay"></div>
                        <div class="my-child text-center align-content-center px-2">
                            <p class="text-white fw-bold h5 px-2 py-3">ISO & standards</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 p-0">
                    <div class="main-topic-container">
                        <img src="../../assets/images/builder-structure-075.avif" alt="">
                        <div class="w-100 h-100 overlay"></div>
                        <div class="my-child text-center align-content-center px-2">
                            <p class="text-white fw-bold h5 px-2 py-3">Construction strategies</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 p-0">
                    <div class="main-topic-container">
                        <img src="../../assets/images/builder-structure-075.avif" alt="">
                        <div class="w-100 h-100 overlay"></div>
                        <div class="my-child text-center align-content-center px-2">
                            <p class="text-white fw-bold h5 px-2 py-3">Financial aspects</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 p-0">
                    <div class="main-topic-container">
                        <img src="../../assets/images/builder-structure-075.avif" alt="">
                        <div class="w-100 h-100 overlay"></div>
                        <div class="my-child text-center align-content-center px-2">
                            <p class="text-white fw-bold h5 px-2 py-3">ERP systems in Construction</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 p-0">
                    <div class="main-topic-container">
                        <img src="../../assets/images/builder-structure-075.avif" alt="">
                        <div class="w-100 h-100 overlay"></div>
                        <div class="my-child text-center align-content-center px-2">
                            <p class="text-white fw-bold h5 px-2 py-3">Supply Chain</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 p-0">
                    <div class="main-topic-container">
                        <img src="../../assets/images/builder-structure-075.avif" alt="">
                        <div class="w-100 h-100 overlay"></div>
                        <div class="my-child text-center align-content-center px-2">
                            <p class="text-white fw-bold h5 px-2 py-3">Mega size projects management</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 p-0">
                    <div class="main-topic-container">
                        <img src="../../assets/images/builder-structure-075.avif" alt="">
                        <div class="w-100 h-100 overlay"></div>
                        <div class="my-child text-center align-content-center px-2">
                            <p class="text-white fw-bold h5 px-2 py-3">Assets management</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 p-0">
                    <div class="main-topic-container">
                        <img src="../../assets/images/builder-structure-075.avif" alt="">
                        <div class="w-100 h-100 overlay"></div>
                        <div class="my-child text-center align-content-center px-2">
                            <p class="text-white fw-bold h5 px-2 py-3">Risk Management</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 p-0">
                    <div class="main-topic-container">
                        <img src="../../assets/images/builder-structure-075.avif" alt="">
                        <div class="w-100 h-100 overlay"></div>
                        <div class="my-child text-center align-content-center px-2">
                            <p class="text-white fw-bold h5 px-2 py-3">Procurement</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 p-0">
                    <div class="main-topic-container">
                        <img src="../../assets/images/builder-structure-075.avif" alt="">
                        <div class="w-100 h-100 overlay"></div>
                        <div class="my-child text-center align-content-center px-2">
                            <p class="text-white fw-bold h5 px-2 py-3">Safety</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 p-0">
                    <div class="main-topic-container">
                        <img src="../../assets/images/builder-structure-075.avif" alt="">
                        <div class="w-100 h-100 overlay"></div>
                        <div class="my-child text-center align-content-center px-2">
                            <p class="text-white fw-bold h5 px-2 py-3">Lean Construction</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 p-0">
                    <div class="main-topic-container">
                        <img src="../../assets/images/builder-structure-075.avif" alt="">
                        <div class="w-100 h-100 overlay"></div>
                        <div class="my-child text-center align-content-center px-2">
                            <p class="text-white fw-bold h5 px-2 py-3">Heavy equipment</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 p-0">
                    <div class="main-topic-container">
                        <img src="../../assets/images/builder-structure-075.avif" alt="">
                        <div class="w-100 h-100 overlay"></div>
                        <div class="my-child text-center align-content-center px-2">
                            <p class="text-white fw-bold h5 px-2 py-3">Networking</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 p-0">
                    <div class="main-topic-container">
                        <img src="../../assets/images/builder-structure-075.avif" alt="">
                        <div class="w-100 h-100 overlay"></div>
                        <div class="my-child text-center align-content-center px-2">
                            <p class="text-white fw-bold h5 px-2 py-3">Knowledge</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 p-0">
                    <div class="main-topic-container">
                        <img src="../../assets/images/builder-structure-075.avif" alt="">
                        <div class="w-100 h-100 overlay"></div>
                        <div class="my-child text-center align-content-center px-2">
                            <p class="text-white fw-bold h5 px-2 py-3">Self branding</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 p-0">
                    <div class="main-topic-container">
                        <img src="../../assets/images/builder-structure-075.avif" alt="">
                        <div class="w-100 h-100 overlay"></div>
                        <div class="my-child text-center align-content-center px-2">
                            <p class="text-white fw-bold h5 px-2 py-3">Latest updates</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 p-0">
                    <div class="main-topic-container">
                        <img src="../../assets/images/builder-structure-075.avif" alt="">
                        <div class="w-100 h-100 overlay"></div>
                        <div class="my-child text-center align-content-center px-2">
                            <p class="text-white fw-bold h5 px-2 py-3">Fresh leads</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 p-0">
                    <div class="main-topic-container">
                        <img src="../../assets/images/builder-structure-075.avif" alt="">
                        <div class="w-100 h-100 overlay"></div>
                        <div class="my-child text-center align-content-center px-2">
                            <p class="text-white fw-bold h5 px-2 py-3">Showcase</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 p-0">
                    <div class="main-topic-container">
                        <img src="../../assets/images/builder-structure-075.avif" alt="">
                        <div class="w-100 h-100 overlay"></div>
                        <div class="my-child text-center align-content-center px-2">
                            <p class="text-white fw-bold h5 px-2 py-3">Marketing</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6 col-sm-12 text-end my-2">
                    <button class="btn-green px-3 py-1 upper-case" [ngClass]="{'w-100' : isMobile}"
                        routerLink="/forms/speaker">
                        become speaker
                    </button>
                </div>
                <div class="col-md-4 col-sm-12 text-start my-2">
                    <button class="btn-gray px-3 py-1 upper-case" [ngClass]="{'w-100' : isMobile}"
                        routerLink="/forms/visitor/registration">
                        visitor register
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>