<div class="my-5 py-2" id="workshop">
    <div class="w-90 mx-auto">
        <p class="h2">Workshops</p>

        <div *ngFor="let workshop of listOfWorkShops" class="">
            <div class="row px-2 py-3 bg-sec my-3">
                <div class="col-md-6 col-sm-12">
                    <img class="w-100" [src]="apiUrl+ workshop.photo" alt="" style="height: 300px;">
                </div>
                <div class="col-md-6 col-sm-12 align-content-center">
                    <p class="fw-bold h5">{{workshop.title}}</p>
                    <p class="">{{workshop.description}}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-12 text-center my-2">
                    <button class="btn-green px-3 py-1 upper-case" [ngClass]="{'w-100' : isMobile}"
                        routerLink="/forms/exhibitor">
                        become a partner
                    </button>
                </div>
                <div class="col-md-6 col-sm-12 text-center my-2">
                    <button class="btn-gray px-3 py-1 upper-case" [ngClass]="{'w-100' : isMobile}"
                        routerLink="/forms/visitor/registration">
                        visitor registration
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>