<section class="section-2">
    <div class="w-90 mx-auto">
      <div class="d-flex">
        <div class="w-50 d-flex">
          <div class="w-50">
            <img style="max-width: 100%;" src="../assets/images/o_bg-remover-gen_2qhiLVeeY8noWoL9fiuSzfl9rdp.png"
              alt="constraTech logo">
          </div>
          <div class="w-50 align-content-center">
            <p class="m-0 p-0 h6 date">17 - 19 June 2025</p>
            <p class="m-0 p-0 time">11 AM - 7 PM</p>
            <p class="m-0 p-0 location"> Egypt International Exhibition Center (EIEC)</p>
          </div>
        </div>
  
        <div class="w-50 justify-items-end">
          <div class="w-75 d-flex">
            <div class="w-25 img-container">
              <img style="max-width: 100%;" src="../assets/images/img-1.jpg"
                alt="وزارة الاسكان والمرافق والمجتمعات العمرانية">
            </div>
            <div class="w-25 img-container">
              <img style="max-width: 100%;" src="../assets/images/img-2.jpg" alt="وزارة التجارة والصناعة">
            </div>
            <div class="w-25 img-container">
              <img style="max-width: 100%;" src="../assets/images/img-3.jpg" alt="Egyption Engineers syndicate">
            </div>
            <div class="w-25 img-container">
              <img style="max-width: 100%;" src="../assets/images/img-4.jpg" alt="Industrial Modernisation center">
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </section>