<section class="section-2 pdf-graphic" [ngClass]="{'pdf-graphic-mobile' : isMobile ,'pdf-graphic' : isScrolled }">

  <div [ngClass]="{ 'bg-black-custom' : isScrolled && isMobile }">
    <div class="w-100 h-100" [ngClass]="{ 'overlay-darker' : isScrolled }">
      <div class="w-90 mx-auto">
        <div class="d-flex">
          <div class="w-50 d-flex">
            <div [ngClass]="{'w-30 align-content-center': !isMobile , 'w-50' : isMobile}">
              <img routerLink="/home" style="max-width: 100%;" class="cursor-pointer"
                [ngClass]="{ 'd-none' : isScrolled }"
                src="../assets/images/o_bg-remover-gen_2qhiLVeeY8noWoL9fiuSzfl9rdp.png" alt="constraTech logo">

              <img routerLink="/home" (click)="scroll_Top()" [ngClass]="{ 'd-none' : !isScrolled }"
                class="m-2 cursor-pointer" style="max-width: 75%;" src="../../../../../assets/images/Logo.png"
                alt="constraTech logo">
            </div>


            <div class="align-content-center p-2" [ngClass]="{ 'd-none' : isMobile }">
              <p class="m-0 p-0 h6 date" [ngClass]="{ 'text-white fw-400': isScrolled }">25 - 27 MAY 2025</p>
              <p class="m-0 p-0 time" [ngClass]="{ 'text-white fw-400': isScrolled }">10 AM - 10 PM</p>
              <p class="m-0 p-0 location" [ngClass]="{ 'text-white fw-400': isScrolled }"> CAIRO-EGYPT - Dusit
                Thani Lakeview - New Cairo
                Lake View Ballroom </p>
            </div>
          </div>

          <div class="w-50 justify-items-end align-content-center      d-grid">
            <!-- Desktop -->
            <div class="w-75 d-flex justify-content-end" [ngClass]="{ 'd-none' : isMobile }">
              <div class="w-50 img-container align-content-center" *ngIf="!isScrolled">
                <img style="max-width: 100%;" src="../../../../../assets/images/new_logo3.png"
                  alt="وزارة الاسكان والمرافق والمجتمعات العمرانية">
              </div>

              <div class="w-25 img-container align-content-center" *ngIf="!isScrolled">
                <img style="max-width: 100%; height: 65%;" src="../../../../../assets/images/img-3-removebg-preview.png"
                  alt="Egyption Engineers syndicate">
              </div>
            </div>

            <!-- Mobile -->
            <nav *ngIf="isMobile">
              <div id="mySidenav" class="sidenav" [style.width]="isNavOpen ? '100%' : '0'">
                <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
                <a class="text-white">
                  <mat-accordion [multi]="false">
                    <mat-expansion-panel hideToggle class="bg-transparent">
                      <mat-expansion-panel-header class="p-0">
                        <mat-panel-title class="text-white upper-case"> Exhibit<i
                            class="fa-solid fa-angle-down mx-2"></i>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <ul class="list-style-none p-0 m-0">
                        <li><a class="p-0 text-white fs-small py-1 upper-case" (click)="scrollToId('why_exhibit')">Why
                            Egypt</a></li>
                        <li><a class="p-0 text-white fs-small py-1 upper-case"
                            (click)="scrollToId('exhibitors-list-2025')">2025
                            Patners
                            </a></li>
                        <li><a class="p-0 text-white fs-small py-1 upper-case"
                            (click)="scrollToId('exhibitors-list-2024')">Pervious
                            Partners</a></li>
                        <li><a class="p-0 text-white fs-small py-1 upper-case"
                            routerLink="/forms/exhibitor">Registration</a></li>
                      </ul>
                    </mat-expansion-panel>
                    <mat-expansion-panel hideToggle class="bg-transparent">
                      <mat-expansion-panel-header class="p-0">
                        <mat-panel-title class="text-white upper-case"> VISIT<i class="fa-solid fa-angle-down mx-2"></i>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <ul class="list-style-none p-0 m-0">
                        <!-- <li><a class="p-0 text-white fs-small py-1" href="#">Why Egypt</a></li> -->
                        <li><a class="p-0 text-white fs-small py-1 upper-case"
                            routerLink="/forms/visitor/registration">Registration</a></li>
                      </ul>
                    </mat-expansion-panel>

                    <mat-expansion-panel hideToggle class="bg-transparent">
                      <mat-expansion-panel-header class="p-0">
                        <mat-panel-title class="text-white upper-case"> SPEAKERS <i
                            class="fa-solid fa-angle-down mx-2"></i>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <ul class="list-style-none p-0 m-0">
                        <!-- <li><a class="p-0 text-white fs-small py-1" href="#">Why Egypt</a></li> -->
                        <li><a class="p-0 text-white fs-small py-1 upper-case"
                            routerLink="/forms/speaker">Registration</a></li>
                        <li><a class="p-0 text-white fs-small py-1 upper-case"
                            (click)="scrollToId('speakers-list')">Speakers List</a></li>
                      </ul>
                    </mat-expansion-panel>

                    <mat-expansion-panel hideToggle class="bg-transparent">
                      <mat-expansion-panel-header class="p-0">
                        <mat-panel-title class="text-white upper-case"> Features <i
                            class="fa-solid fa-angle-down mx-2"></i>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <ul class="list-style-none p-0 m-0">
                        <li><a class="p-0 text-white fs-small py-1"
                            (click)="scrollToId('conference')">conference</a></li>
                        <li><a class="p-0 text-white fs-small py-1"
                            (click)="scrollToId('why_exhibit')">Exhibition</a></li>
                        <li><a class="p-0 text-white fs-small py-1"
                            (click)="scrollToId('workshop')">Workshop</a></li>
                        <li><a class="p-0 text-white fs-small py-1"
                            (click)="scrollToId('speakers-list')">Speakers</a></li>
                      </ul>
                    </mat-expansion-panel>
                  </mat-accordion>
                </a>

                <a class="text-white upper-case" (click)="scrollToId('exhibitors-list-2025')">2025 Partners</a>

                <a class="text-white upper-case" (click)="scrollToId('gallery')">Gallery</a>

                <div class=" social-media w-100">
                  <div class="text-center">
                    <button class="w-90 btn-green my-2 py-2 upper-case" routerLink="/forms/speaker">become
                      speaker</button>
                  </div>
                  <div class="text-center">
                    <button class="w-90 btn-gray my-2 py-2" routerLink="/forms/visitor/registration">REGISTER
                    </button>
                  </div>
                  <div class="d-flex justify-content-center">
                    <a class="p-2 text-white" target="_blank" href="https://www.facebook.com/ConstraTechsummit"><i
                        class="fa-brands fa-facebook-f"></i></a>
                    <a class="p-2 text-white" target="_blank"
                      href="https://www.linkedin.com/company/constratechsummit/"><i
                        class="fa-brands fa-linkedin-in"></i></a>
                    <a class="p-2 text-white" target="_blank" href="https://www.youtube.com/@Constratechsummit/video"><i
                        class="fa-brands fa-youtube"></i></a>
                  </div>

                </div>

              </div>

              <span (click)="openNav()" [ngClass]="{'text-white' : isScrolled}">&#9776;</span>

            </nav>
          </div>
        </div>
      </div>
    </div>

    <!-- Mobile View -->
    <div class="w-90 mx-auto bb-white align-content-center my-3 py-2" [ngClass]="{ 'd-none' : !isMobile }">
      <p class="m-0 p-0 h6 date" [ngClass]="{ 'text-white fw-400' : isScrolled ,'text-secondary': !isScrolled}"> 25 - 27
        MAY 2025</p>
      <p class="m-0 p-0 time" [ngClass]="{ 'text-white fw-400' : isScrolled ,'text-secondary': !isScrolled}">10 AM - 10
        PM
      </p>
      <p class="m-0 p-0 location upper-case"
        [ngClass]="{ 'text-white fw-400' : isScrolled ,'text-secondary': !isScrolled}"> Egypt
        CAIRO-EGYPT - Dusit Thani Lakeview - New Cairo
        Lake View Ballroom</p>


      <div class="row" [ngClass]="{'d-none' : !isScrolled}">
        <div class="col-md-6 col-sm-12 text-center my-2">
          <button class="btn-green px-3 py-1 w-100 upper-case" routerLink="/forms/exhibitor">
            become a partner
          </button>
        </div>
        <div class="col-md-6 col-sm-12 text-center my-2">
          <button class="btn-gray px-3 py-1 w-100 upper-case" routerLink="/forms/visitor/registration">
            visitor registration
          </button>
        </div>
      </div>
    </div>
  </div>

</section>