<div class="form-div">
    <div class="bg-darker pdf-graphic">
        <div class="w-100 overlay-black">
            <div class="mx-auto d-flex justify-content-between py-5"
                [ngClass]="{'w-100' : isMobile , 'w-75' : !isMobile}">
                <div [ngClass]="{'w-50' : isMobile , 'w-25' : !isMobile}">
                    <img [ngClass]="{'w-75' : isMobile , 'w-100' : !isMobile}" [routerLink]="'/home'"
                        class="cursor-pointer" src="../../../../../assets/images/Logo.png" alt="">
                </div>

                <div [ngClass]="{'w-50 fs-small text-center' : isMobile , 'w-25' : !isMobile}">
                    <p class="text-white m-0">25 - 27 MAY 2025</p>
                    <p class="text-white m-0 upper-case">CAIRO-EGYPT - Dusit Thani Lakeview</p>
                    <p class="text-white m-0 upper-case">New Cairo Lake View Ballroom</p>
                </div>
            </div>
        </div>
    </div>


    <div class="form-conatiner w-100">
        <form #form='ngForm' class="mx-auto card my-5 py-2" (ngSubmit)="addSpeaker(form)"
            [ngClass]="{'w-100' : isMobile , 'w-50' : !isMobile}">
            <p class="h2 text-center my-2 text-secondary">Conference and talks Speaker application</p>

            <p class="text-secondary p-3 m-0">Welcome as a Speaker at ConstraTech2025 summit (construction technology
                summit 25) (Conference and
                Exhibition)
                25-26-27 May 2025
                Dusit Hotel</p>

            <!-- Email -->
            <div class="bb-gray py-2">
                <div class="p-3">
                    <label for="email">Email <span class="text-danger">*</span></label>
                    <input id="email" name="email" ngModel #email='ngModel' type="email" class="form-control" required>

                    <div class="errors" *ngIf="email.touched && email.invalid">
                        <p class="text-center m-0" *ngIf="email.errors?.['required']">* Please enter your email *</p>
                    </div>
                </div>
            </div>

            <!-- fullname -->
            <div class="bb-gray py-2">
                <div class="p-3">
                    <label for="fullname">Your full name <span class="text-secondary"> (as you want to appear on all
                            documents)</span> <span class="text-danger">*</span> </label>
                    <input id="fullname" name="fullname" ngModel #fullname="ngModel" type="text" class="form-control"
                        required>

                    <div class="errors" *ngIf="fullname.touched && fullname.invalid">
                        <p class="text-center m-0" *ngIf="fullname.errors?.['required']">* Please enter your name *</p>
                    </div>
                </div>
            </div>

            <!-- Mobile -->
            <div class="bb-gray py-2">
                <div class="p-3">
                    <label for="mobile_no">Your mobile number <span class="text-danger">*</span></label>
                    <input id="mobile_no" name="mobile_no" ngModel #mobile_no="ngModel" type="text" class="form-control"
                        required>

                    <div class="errors" *ngIf="mobile_no.touched && mobile_no.invalid">
                        <p class="text-center m-0" *ngIf="mobile_no.errors?.['required']">* Please enter your mobile
                            number
                            *
                        </p>
                    </div>
                </div>
            </div>

            <!-- facebook -->
            <div class="bb-gray py-2">
                <div class="p-3">
                    <label for="facebook">Your facebook account <span class="text-danger">*</span></label>
                    <input id="facebook" name="facebook" ngModel #facebook="ngModel" type="text" class="form-control"
                        required>

                    <div class="errors" *ngIf="facebook.touched && facebook.invalid">
                        <p class="text-center m-0" *ngIf="facebook.errors?.['required']">* Please enter your facebook
                            account
                            *
                        </p>
                    </div>
                </div>
            </div>

            <!-- linkedin -->
            <div class="bb-gray py-2">
                <div class="p-3">
                    <label for="linkedin">Your LinkedIn account <span class="text-danger">*</span></label>
                    <input id="linkedin" name="linkedin" ngModel #linkedin="ngModel" type="text" class="form-control"
                        required>

                    <div class="errors" *ngIf="linkedin.touched && linkedin.invalid">
                        <p class="text-center m-0" *ngIf="linkedin.errors?.['required']">* Please enter your linkedin
                            account
                            *
                        </p>
                    </div>
                </div>
            </div>

            <!-- Job Position -->
            <div class="bb-gray py-2">
                <div class="p-3">
                    <label for="position">Your Job position <span class="text-secondary"> (will appear on the
                            posters)</span> <span class="text-danger">*</span></label>
                    <input id="position" name="position" ngModel #position="ngModel" type="text" class="form-control"
                        required>

                    <div class="errors" *ngIf="position.touched && position.invalid">
                        <p class="text-center m-0" *ngIf="position.errors?.['required']">* Please enter your job
                            position
                            *
                        </p>
                    </div>
                </div>
            </div>

            <!-- company_name -->
            <div class="bb-gray py-2">
                <div class="p-3">
                    <label for="company_name">Where you work? <span class="text-secondary">(your company)</span>
                        <span class="text-danger">*</span></label>
                    <input id="company_name" name="company_name" ngModel #company_name="ngModel" type="text"
                        class="form-control" required>

                    <div class="errors" *ngIf="company_name.touched && company_name.invalid">
                        <p class="text-center m-0" *ngIf="company_name.errors?.['required']">* Please enter your company
                            name *
                        </p>
                    </div>
                </div>
            </div>

            <!-- website -->
            <div class="bb-gray py-2">
                <div class="p-3">
                    <label for="website">Your company website</label>
                    <input id="website" name="website" ngModel #website="ngModel" type="text" class="form-control">
                </div>
            </div>

            <!-- speech_title -->
            <div class="bb-gray py-2">
                <div class="p-3">
                    <label for="speech_title">Speech title <span class="text-danger">*</span></label>
                    <input id="speech_title" name="speech_title" ngModel #speech_title="ngModel" type="text"
                        class="form-control" required>

                    <div class="errors" *ngIf="speech_title.touched && speech_title.invalid">
                        <p class="text-center m-0" *ngIf="speech_title.errors?.['required']">* Please enter your speech
                            title *
                        </p>
                    </div>
                </div>
            </div>

            <!-- speech_brief -->
            <div class="bb-gray py-2">
                <div class="p-3">
                    <label for="speech_brief">Speech Brief <span class="text-danger">*</span></label>
                    <input id="speech_brief" name="speech_brief" ngModel #speech_brief="ngModel" type="text"
                        class="form-control" required>

                    <div class="errors" *ngIf="speech_brief.touched && speech_brief.invalid">
                        <p class="text-center m-0" *ngIf="speech_brief.errors?.['required']">* Please enter your speech
                            brief *
                        </p>
                    </div>
                </div>
            </div>

            <!-- BIO -->
            <div class="bb-gray py-2">
                <div class="p-3">
                    <label for="bio">Your BIO <span class="text-secondary">(as you want to appear in all
                            posts)</span></label>
                    <input id="bio" name="bio" type="text" class="form-control" ngModel #bio="ngModel">
                </div>
            </div>

            <!-- photo_path -->
            <div class="bb-gray py-2">
                <div class="p-3">
                    <label for="photo"> Please upload your personal photo <span class="text-danger">*</span></label>
                    <input id="photo" name="photo" ngModel #photo="ngModel" type="file" accept="image/*"
                        class="form-control" required (change)="uploadImage($event)">

                    <div class="errors" *ngIf="photo.touched && photo.invalid">
                        <p class="text-center m-0" *ngIf="photo.errors?.['required']">* Please enter your profile photo
                            *
                        </p>
                    </div>

                </div>
            </div>

            <div class="bb-gray py-2">
                <div class="p-3">
                    <label for="notes">Notice</label>
                    <p> Please make a publishable version from your presentations to be send to attendees after the
                        conference.
                    </p>
                    <p>Have a look on some of our previous events:</p>
                    <a href="https://youtu.be/GF5gdWtfgl8">https://youtu.be/GF5gdWtfgl8</a><br>
                    <a href="https://youtu.be/VVrinNo1pWk">https://youtu.be/VVrinNo1pWk</a><br>
                    <a href="https://youtu.be/W-sWNYGYbEs">https://youtu.be/W-sWNYGYbEs</a>
                </div>
            </div>

            <div class="py-2 text-center">
                <button class="btn btn-primary" *ngIf="!isLoading" [disabled]="form['invalid']" type="submit">Submit</button>

                <button class="btn btn-primary" *ngIf="isLoading" disabled>
                    <div class="spinner-border text-white" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
            </div>


        </form>


        <footer class="bg-dark py-2">
            <p class="text-center text-white">ConstraTech</p>

            <div class="text-center">
                <a class="mx-3" target="_blank" href="https://www.facebook.com/ConstraTechsummit"><i
                        class="fa-brands fa-facebook-f text-white"></i></a>
                <a class="mx-3" target="_blank" href="https://www.linkedin.com/company/constratechsummit/"><i
                        class="fa-brands fa-linkedin-in text-white"></i></a>
                <a class="mx-3" target="_blank" href="https://www.youtube.com/@Constratechsummit/video"><i
                        class="fa-brands fa-youtube text-white"></i></a>
            </div>
        </footer>
    </div>

</div>