.speaker-container {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1px 1px 4px 1px #d5d5d5;
    width: 200px;
    height: 200px;
    margin: auto;
}

.speaker-container .speaker-content {
    position: absolute;
    top: 32%;
    left: 32%;
    background: #000000d1;
    color: white;
    width: 25%;
    opacity: 0;
    height: 25%;
    transform: rotate(180deg);
    font-size: 13px;
    transition: all .3s ease-in-out, opacity .5s ease;
}

.speaker-container:hover .speaker-content {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transform: rotate(0);
    opacity: 1;
}

.card {
    height: 100%;
}