/* You can add global styles to this file, and also import other style files */
:root {
    --constraTech-green: #89c5b8;
    --constraTech-green-darker: #246355;
    --constraTech-orange: #ed3c22;
    --constraTech-dark-blue: #080c2c;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.w-90 {
    width: 90% !important;
}

.text-end {
    text-align: end;
}

.justify-items-end {
    justify-items: end !important;
}

.ff-cursive {
    font-family: cursive;
}

.bt-white {
    border-top: 1px solid white;
}

.bb-white {
    border-bottom: 1px solid white;
}

.bl-white {
    border-left: 1px solid white;
}

.br-white {
    border-right: 1px solid white;
}

.b-white {
    border: 1px solid white;
}

.fw-400 {
    font-weight: 400 !important;
}

.justify-items-center {
    justify-items: center;
}

.list-style-none {
    list-style: none !important;
}

.fs-small {
    font-size: small !important;
}

.place-items-center {
    place-items: center !important;
}

.flex-dir-col-rev {
    flex-direction: column-reverse;
}

.bb-gray {
    border-bottom: 1px solid rgb(193, 193, 193);
}

.cursor-pointer {
    cursor: pointer;
}

.upper-case {
    text-transform: uppercase;
}

.w-30 {
    width: 30% !important;
}


.w-60 {
    width: 60% !important;
}

.position-static {
    position: static !important;
}

.fs-13 {
    font-size: 14px !important;
}

.btn-250px {
    width: 250px !important;
}

.w-60 {
    width: 60% !important;
}

.w-95 {
    width: 95% !important;
}

.fw-500 {
    font-weight: 500 !important;
}