.section-1 {
    background-color: #171637;
}

.section-1 span {
    letter-spacing: .28px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    cursor: pointer;
}


.bg-custom-black {
    background-color: rgb(0 0 0 / 89%);
}

::ng-deep.modal-content {
    background-color: transparent;
}

::ng-deep.btn-close {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
}

.my-nav {
    position: relative;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

.fixed-nav {
    position: fixed;
    z-index: 3;
    top: 0;
    background-color: #030403;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}






.top-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.top-btn button {
    background-color: var(--constraTech-green-darker);
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    box-shadow: 0px 0px 4px 1px gray;
    transition: all 0.2s ease-in-out;
}

.top-btn button:hover {
    background-color: var(--constraTech-green);
}





footer {
    background-color: #000000;
    background-image: url('../../assets/images/output-onlinepngtools1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

footer .title {
    color: var(--constraTech-green);
    font-weight: 700;
    font-size: 25px;
}


footer button {
    color: white;
    border: 0;
    background: var(--constraTech-orange);
    box-shadow: 1px 1px 3px 3px #2c2c2c36;
}

